body {
	width: 750px;
}
div {
	font-size: 21px;
	padding: 1em;
	margin: 4em 0;
}

.one {
  text-align: left;
  background: #E64777; border: 5px solid #F32C68;
}
.two {
 background: #4560B2; border: 5px solid #4960A3;
 display: flex;
 justify-content: center;
}
.three {
 background: #8EE546; border: 5px solid #91CB61;
 display: flex;
 flex-direction: row-reverse;
 flex-wrap: wrap;
 text-align: end;
}
.four {
 background: #FFC74E; border: 5px solid #FFBD2E;
}
.five {
 background: #40BE8E; border: 5px solid #56AB8B;
 display: flex;
 flex-direction: row-reverse;
 text-align: end;
}

.one {
	margin-top: 0.2em;
}
.five {
	overflow: hidden;
}
.floated-image{
	padding-left: 1em;
}